<% if logged_in? %>
<%= page_header('Upcoming') %>

<% @meetings.each do |meeting| %>
<h2>
  <%= link_to meeting.name, meeting %>
  <small class="text-muted">on <%= format_date(meeting.date) %></small>
</h2>
<% end %>
<% else %>
<%= render partial: 'logged_out'%>

<% end %>